<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play matches</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container text-center">
    <h1>Matches played!</h1>
    <h3>
        <a th:href="@{/matches}">Перейти к матчам</a>
    </h3>
</div>
</body>
</html>
